@media (min-width: 1024px) {
  #card {
    width: 50%;
    padding: 1%;
    height: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    overflow-x: hidden;
  }
}
